.container {
  margin: auto;
  padding: 30px 0;
  width: 100%;
  min-height: 100vh;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
}

.heading {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}

.mainArea {
  margin: 0;
  padding: 30px;
  min-height: 40vh;
  width: 90%;
  font-size: 20px;
  line-height: 1.4;
  border-radius: 12px;
  border: 2px solid gray;
  background-color: rgb(237, 204, 172);
  box-sizing: border-box;
}

.variablesContainer {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
  gap: 20px;
}

.variablesInputContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
  border-radius: 12px;
  background-color: #96c8c8;
}

.variablesInput {
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  line-height: 1.4;
  padding: 5px;
  border: 1px solid turquoise;
  border-radius: 12px;
  resize: none;
  overflow: hidden;
  transition: all .3s ease;
}

.variablesInput:focus {
  outline: 1px solid #0099ff;
  border-color: transparent;
  box-shadow: 0 0 8px 1px #0099ff;
}

.button {
  margin-top: auto;
}

@media (max-width: 767px) {
  .button {
    width: calc(90% - 10px);
  }
}

