.textarea {
  height: auto;
  min-width: 200px;
  font-size: 20px;
  line-height: 1.4;
  padding: 5px;
  border: 1px solid turquoise;
  border-radius: 12px;
  resize: none;
  overflow: hidden;
  transition: all .3s ease;
}

.textarea:focus {
  outline: 1px solid #0099ff;
  border-color: transparent;
  box-shadow: 0 0 8px 1px #0099ff;
}
